{% load static%}
 <!--   news section start    -->
 <div id="casosdeexito" class="news-section">
    <div class="container">
       <span class="title">Casos de Éxito</span>
       <h2 class="subtitle">Nuestros Clientes</h2>
       <div class="row">
          <div class="col-lg-4 col-md-6">
             <div class="single-news wow fadeInRight" data-wow-duration="1.5s">
                <a href="https://mbassets.net" target="_blank"><img src="{% static 'img/orejitasencasa.png' %}" alt=""></a>
                <div class="news-txt">
                   <span class="date">Orejitas en Casa</span>
                   <a href="https://orejitasencasa.com" target="_blank" class="title">
                      <h3>Guarderia Canina y Felina</h3>
                   </a>
                   <a class="readmore" href="https://orejitasencasa.com" target="_blank">Visitar Web</a>
                </div>
             </div>
          </div>
          <div class="col-lg-4 col-md-6">
             <div class="single-news wow fadeInRight" data-wow-duration="1.5s" data-wow-delay=".2s">
                <a href="https://mbassets.net" target="_blank"><img src="{% static 'img/mbassets.png' %}" alt=""></a>
                <div class="news-txt">
                   <span class="date">Mb Assets</span>
                   <a href="https://mbassets.net" target="_blank" class="title">
                      <h3>Servicios Financieros</h3>
                   </a>
                   <a class="readmore" href="https://mbassets.net" target="_blank">Visitar Web</a>
                </div>
             </div>
          </div>
          <div class="col-lg-4 col-md-6">
             <div class="single-news wow fadeInRight" data-wow-duration="1.5s" data-wow-delay=".4s">
                <a href="https://wa.me/5491123927033" target="_blank"><img src="{% static 'img/asistentevirtual.png' %}" alt=""></a>
                <div class="news-txt">
                   <span class="date">Retobot</span>
                   <a href="https://wa.me/5491123927033" target="_blank" class="title">
                      <h3>Asistente Virtual</h3>
                   </a>
                   <a class="readmore" href="https://wa.me/5491123927033" target="_blank">Asistente demo para pruebas</a>
                </div>
             </div>
             

          </div>
       </div>
    </div>
 </div>
 <!--   news section end    -->