 <!--   footer section start    -->
 <footer>
    <div class="container">
       <div class="top-footer">
          <div class="row">
             <div class="col-xl-4 col-lg-4">
                <div  class="logo-wrapper"><img src="assets/img/footer_logo.png" alt=""></div>
                <p>Algorithmic Evolution <br> Potencia tus proyectos con tecnología innovadora. <br> Eleva tus resultados al siguiente nivel. </p>
             </div>
             <div class="offset-xl-1 col-xl-2 col-lg-2">
                <h4>Aev</h4>
                <ul class="userful-links">
                   <li><a href="#">Inicio</a></li>
                   <li><a href="#acercadeaev">Acerca de AEV</a></li>
                   <li><a href="#servicios">Servicios</a></li>
                   <li><a href="#formulario">Contacto</a></li>
           
                </ul>
             </div>
             <div class="col-xl-2 col-lg-2">
                <h4>Servicios</h4>
                <ul class="userful-links">
                   <li><a href="{% url 'exposicionenlinea' %}">Exposición en línea</a></li>
                   <li><a href="{% url 'asistentevirtual' %}">Asistente Virtual</a></li>
                   <li><a href="{% url 'gestiondelainformacion' %}">Gestión de la Información</a></li>
                   <li><a href="{% url 'desarrollospersonalizados' %}">Desarrollos Personalizados</a></li>
                   
                </ul>
             </div>
             <div class="col-xl-3 col-lg-4">
                <h4>Contactenos</h4>
                <div class="footer-contact">
                   
                   <div class="contact-info">
                      <div class="icon-wrapper"><i class="flaticon-call"></i></div>
                      <p>+549 11 2396 5421 </p>
                   </div>
                   <div class="contact-info">
                      <div class="icon-wrapper"><i class="flaticon-email"></i></div>
                      <p>aev@aev.com</p>
                   </div>
                </div>
             </div>
          </div>
       </div>
       <div class="bottom-footer">
          <p class="text-center">Desarrollado por Algorithmic Evolution - 2023</p>
       </div>
    </div>

    
 </footer>
 <!--   footer section end    -->    
   <!-- Botón de WhatsApp -->
<a href="https://wa.me/5491123965421" target="_blank" id="whatsapp-btn">
   <i class="fab fa-whatsapp"></i>
 </a>